// Layout SCSS

$base_margin: 1em;
$base_padding: 1em;

:root {
  --background: #eeeeee;
  --color: #333333;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--color);
}

// Meh this won't work as when it compiles it ignores the media query in this particular instance.
// Will need to use default CSS variables instead.
@media (prefers-color-scheme: dark) {
  --background: #333333;
  --color: #efefef;
}

.flexgrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;

  .card {
    background: darken(var(--background), 10%);
    border: 2px solid darken(var(--background), 20%);
    border-radius: 10px;
    margin: $base_margin;
    padding: $base_padding;

    &.wide {
      width: 100%;
    }
    &.narrow {
      width: 33%;
    }
  } 
}