// Layout SCSS

$background: #eeeeee;
$color: #333333;
$base_margin: 1em;
$base_padding: 1em;

html, body {
  margin: 0;
  padding: 0;
  background-color: $background;
  color: $color;
}

.flexgrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;

  .card {
    background: darken($background, 10%);
    border: 2px solid darken($background, 20%);
    border-radius: 10px;
    margin: $base_margin;
    padding: $base_padding;

    &.wide {
      width: 100%;
    }
    &.narrow {
      width: 33%;
    }
  } 
}